@import "../../styles/theme.scss";
@import "../../styles/mixin.scss";

.header-profile {
  display: flex;
  justify-content: start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $bgForm;
  padding: 0px 25px;
  z-index: 100;

  .header-profile-icon {
    display: none;
    color: $white;
    margin-right: 20px;
    cursor: pointer;
  }

  .header-profile-logo {
    display: block;
  }
}

main {
  margin-left: 280px;
  padding: 0px 10px;

  .overview-profile {
    margin-top: 100px;

    img {
      margin-top: 15px;
    }

    h1 {
      color: $white;
      font-size: 36px;
    }

    p {
      color: $white;
      margin: 14px 0px;
      font-size: 17px;
    }

    .overview-profile-btn {
      @include button-style($blue, $white);
      cursor: pointer;
      text-transform: capitalize;

      &::before {
        @include button-style-before($red);
      }

      &:hover::before {
        width: 120%;
        height: 120%;
      }
    }

    .overview-input {
      display: flex;
      flex-direction: column;
      width: 50%;

      input {
        margin: 14px 0px;
        height: 40px;
        padding-left: 15px;
        font-size: 15px;
        background-color: $bgForm;
        border: none;
        color: $white;
        border-radius: 5px;

        &::placeholder {
          color: $white;
        }

        &:focus {
          outline: none;
          border: 2px solid $blue;
        }
      }
    }
  }

  .favorite-movie {
    display: block;
    margin-top: 20px;

    h1 {
      color: $white;
    }

    .favorite-movie-list {
      display: flex;
      flex-wrap: wrap;
    }

    .favorite-movie-children {
      width: 270px;
      padding-right: 30px;
      margin-top: 20px;
      margin-bottom: 20px;
      border-radius: 15px;

      .favorite-movie-img {
        display: block;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        border-radius: 15px;

        img {
          width: 270px;
          height: 350px;
          object-fit: cover;
        }
      }

      .favorite-movie-children-btn {
        margin-top: 15px;

        @include button-style($red, $white);

        &::before {
          @include button-style-before($blue);
        }

        &:hover::before {
          width: 120%;
          height: 120%;
        }
      }

      .favorite-movie-title {
        color: $white;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        h2 {
          font-size: 18px;
          margin-top: 8px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }
}

.sidebar {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 250px;
  height: 100%;
  z-index: 10;
  background-color: $bgForm;

  .sidebar-logo {
    border-bottom: 1px solid $headingColor;
    padding: 20px 30px;

    img {
      width: 200px;
      height: auto;
    }
  }

  .sidebar-profile {
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid $headingColor;

    p {
      color: $blue;
      padding-left: 12px;
    }
  }

  .sidebar-menu {
    padding: 20px 30px;
    border-bottom: 1px solid $headingColor;

    .sidebar-item {
      display: flex;
      align-items: center;
      padding: 10px 0px;
      color: $blue;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $blue;
      }

      .sidebar-item-text {
        padding-left: 10px;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-large) {
  .header-profile {
    display: block;
    .header-profile-icon {
      display: block;
    }
  }

  main {
    margin-left: 20px;
  }

  .sidebar {
    left: -100%;
    transition: 0.3s;
  }

  .sidebar-active {
    left: 0;
    transition: 0.3s;
  }
}
