@import "../../styles/theme.scss";
@import "../../styles/mixin.scss";

.comment-title {
  color: $white;
  margin-bottom: 12px;
}

.comment-input {
  display: block;
  margin-bottom: 15px;

  textarea {
    resize: none;
    width: 100%;
    height: 100px;
    padding: 8px;
    font-size: 17px;
    background-color: $bgForm;
    border: none;
    border-radius: 10px;
    color: $bodyTextColor;

    &:focus {
      outline: none;
    }
  }

  .comment-item-btn-add {
    width: 150px;
    height: 50px;
    margin-top: 15px;
    background-color: $blue;
    border: none;
    font-size: 18px;
    color: $white;
    border-radius: 10px;
    cursor: pointer;
  }
}

.list-comment {
  display: block;
  margin-bottom: 15px;

  .comment-item-btn-select {
    display: flex;
    margin: 15px 0px;
    .comment-item-btn-confirm {
      margin-left: 15px;
      @include button-style($yellow, $white);

      &::before {
        @include button-style-before($blue);
      }

      &:hover::before {
        width: 120%;
        height: 120%;
      }
    }
    .comment-item-btn-cancel {
      @include button-style($red, $white);

      &::before {
        @include button-style-before($blue);
      }

      &:hover::before {
        width: 120%;
        height: 120%;
      }
    }
  }

  .comment-item {
    margin: 17px 0px;
    padding: 14px;
    background-color: $bgForm;
    border-radius: 10px;

    .comment-item-user {
      display: flex;

      .comment-item-img img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }

      .content-item-name-date {
        margin-left: 15px;

        .comment-item-name {
          font-size: 17px;
          color: $white;
        }

        .comment-item-date {
          display: flex;
          align-items: center;
          font-size: 17px;
          color: $blue;
          margin-top: 5px;

          p {
            margin-left: 5px;
          }
        }
      }
    }

    .comment-item-content {
      margin-top: 8px;
      color: $white;
      font-size: 15px;
      line-height: 33px;
      border-bottom: 1px solid $bodyTextColor;
    }

    .comment-item-action {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 12px;

      .comment-item-reply {
        display: flex;
        align-items: center;
        color: $blue;
        font-weight: 500;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          color: $red;
        }

        p {
          margin-top: 3px;
          margin-left: 6px;
          font-size: 16px;
        }
      }

      .comment-item-btn {
        display: flex;
        .comment-item-btn-delete {
          @include button-style($red, $white);

          &::before {
            @include button-style-before($blue);
          }

          &:hover::before {
            width: 120%;
            height: 120%;
          }
        }

        .comment-item-btn-edit {
          margin-left: 10px;
          @include button-style($yellow, $white);

          &::before {
            @include button-style-before($blue);
          }

          &:hover::before {
            width: 120%;
            height: 120%;
          }

          span {
            margin-left: 5px;
          }
        }
      }
    }
  }
}
