@import "../../styles/theme.scss";

.top-rate {
  display: block;

  .top-rate-title {
    color: $white;
    margin-top: 20px;
    padding: 0px 10px;
  }

  .top-rate-movie {
    display: flex;
    flex-wrap: wrap;

    .top-rate-movie-children {
      width: 25%;
      padding: 0px 10px;
      margin-top: 20px;
      margin-bottom: 20px;

      .top-rate-movie-children {
        width: 100%;
        color: $white;
        font-size: 18px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      img {
        width: 100%;
      }
    }
  }
}
