@import "../../styles/theme.scss";

.movie {
  display: block;

  .movie-title {
    color: $white;
    margin-top: 20px;
    padding: 0px 10px;
  }

  .movie-detail {
    display: flex;
    flex-wrap: wrap;

    .movie-detail-children {
      width: 25%;
      padding: 0px 10px;
      margin-top: 20px;
      margin-bottom: 20px;

      .movie-detail-title {
        color: $white;
        font-size: 18px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      img {
        width: 100%;
      }
    }
  }
}
