@import "../../styles/theme.scss";

.pagination {
  display: flex;
  justify-content: center;
  margin: 10px 0px;

  ul {
    display: flex;
    list-style: none;

    li {
      margin: 0px 10px;

      a {
        cursor: pointer;
        padding: 10px;
        background-color: $blue;
        color: $white;
      }

      .select {
        background-color: $red;
      }
    }
  }
}
