@import "../../styles/theme.scss";

.pagination {
  display: flex;
  justify-content: center;
  margin: 10px 0px;

  .pagination-children {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: $bodyTextColor;
    background-color: $themeBg;
    border-radius: 12px;
  }

  .pagination-children-active {
    color: $white;
    background-color: $blue;
  }

  .pagination-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    width: 40px;
    height: 40px;
    color: $bodyTextColor;
    background-color: $themeBg;
    border-radius: 12px;
    cursor: pointer;
  }
}
