@import "../../styles/theme.scss";

.pagination {
  display: flex;
  justify-content: center;
  margin: 10px 0px;

  .pagination-children {
    margin: 0px 10px;
    padding: 10px;
    cursor: pointer;
    color: $white;
    background-color: $blue;
  }

  .pagination-children-active {
    background-color: $red;
  }
}
