@import "../../styles/theme.scss";

@mixin button-style($backgroundColor, $color) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 10px;
  width: 140px;
  height: 40px;
  background-color: $backgroundColor;
  color: $color;
  text-transform: uppercase;
  overflow: hidden;
  vertical-align: middle;
  z-index: 1;
}

@mixin button-style-before($color) {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  transition: 0.3s;
  border-radius: 10px;
  z-index: -1;
  background-color: $color;
}

.banner {
  width: 100%;
  position: relative;
  border-bottom: 3px solid $blue;

  .banner-img {
    position: relative;
    margin-top: 80px;

    img {
      width: 100%;
      height: 280px;
      object-fit: cover;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $black;
      opacity: 0.7;
      z-index: 10;
    }
  }

  .banner-text {
    position: absolute;
    color: $white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
  }
}

.slideshow {
  max-width: 1300px;
  margin: auto;
  margin-top: 100px;
  position: relative;
  border-radius: 15px;
  z-index: 100;

  .slideshow-content {
    width: 1300px;
    height: 550px;
    position: relative;
    border-radius: 15px;

    .slideshow-img {
      position: relative;

      img {
        width: 1300px;
        height: 550px;
        object-fit: cover;
        border-radius: 15px;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $black;
        opacity: 0.4;
        z-index: 10;
      }
    }

    .slideshow-text {
      width: 50%;
      flex: 0 0 auto;
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
      color: $white;
      z-index: 20;

      .slideshow-text-title {
        font-size: 42px;
        text-transform: uppercase;
        margin-bottom: 15px;
      }

      .slideshow-text-other {
        display: flex;
        align-items: center;
        font-size: 18px;

        .slideshow-text-top-rate {
          display: flex;
          align-items: center;
          background-color: $blue;
          padding: 5px;
          border-radius: 10px;
          margin-bottom: 15px;
        }

        .slideshow-text-release-date {
          margin-left: 10px;
          margin-bottom: 15px;
        }

        .slideshow-text-time {
          margin-left: 10px;
          margin-bottom: 15px;
        }
      }

      .slideshow-text-genre {
        font-size: 18px;
        margin-bottom: 10px;
      }

      .slideshow-text-description {
        font-size: 18px;
        line-height: 35px;
      }

      .slideshow-watch-detail {
        display: flex;
        margin-top: 15px;

        .slideshow-play-now {
          @include button-style($blue, $white);

          &::before {
            @include button-style-before($red);
          }

          &:hover::before {
            width: 120%;
            height: 120%;
          }

          span {
            margin-left: 5px;
          }
        }

        .slideshow-detail {
          @include button-style($red, $white);
          margin-left: 10px;

          &::before {
            @include button-style-before($blue);
          }

          &:hover::before {
            width: 120%;
            height: 120%;
          }
        }
      }
    }
  }
  .swiper-button {
    top: 50%;
    position: absolute;
    color: $white;
    z-index: 10;
    width: 100%;
    font-size: 30px;

    .swiper-button-prev,
    .swiper-button-next {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.2);
      position: absolute;
      cursor: pointer;
    }

    .swiper-button-prev {
      left: 25px;
    }

    .swiper-button-next {
      right: 25px;
    }
  }

  .swiper-pagination {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    .swiper-pagination-button {
      margin: 0px 10px;
      border: 3px solid $white;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      cursor: pointer;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: $blue;
    }
  }
}

@media screen and (max-width: $breakpoint-xlarge) {
  .slideshow {
    max-width: 800px;
    margin: auto;
  }
}
