@import "../../styles/theme.scss";

.banner {
  width: 100%;
  position: relative;
  border-bottom: 3px solid $blue;

  .banner-img {
    position: relative;
    margin-top: 80px;

    img {
      width: 100%;
      height: 280px;
      object-fit: cover;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $black;
      opacity: 0.7;
      z-index: 10;
    }
  }

  .banner-text {
    position: absolute;
    color: $white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
  }
}

.slideshow {
  max-width: 1200px;
  margin: auto;
  margin-top: 80px;
  border-radius: 15px;
  position: relative;

  .slideshow-content {
    width: 1200px;
    height: 550px;
    position: relative;

    .slideshow-img {
      position: relative;
      img {
        width: 1200px;
        height: 550px;
        object-fit: cover;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $black;
        opacity: 0.3;
        z-index: 10;
      }
    }

    .slideshow-text {
      width: 50%;
      flex: 0 0 auto;
      position: absolute;
      top: 50%;
      left: 5%;
      transform: translateY(-50%);
      color: $white;
      z-index: 20;
    }
  }
}
