// Colors
$bodyColor: #06090f;
$white: #ffffff;
$black: #000;
$bodyTextColor: #757f95;
$headingColor: #e8eaed;
$headerBg: #0a0d14;
$blue: #29b6f6;
$red: #ff5858;
$footerBg: #0a0d14;
$themeBg: #131722;
$footerText: #f5faff;
$borderInfor: rgba(117, 127, 149, 0.25);
$inputForm: #151f30;

//Responsive
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
